html, body, #root, .App{
  height: 100%;
}

.App {
  overflow: hidden;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255,255,255, 1);
}

*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
